
body .settings {
	padding-top: 50px;
}

.navbar-settings {
	background-color: #77a1cd;
	font-size: 14px;
	height: 40px;
}

.navbar-settings .title {
	display: block;
		text-transform: uppercase;
	padding: 15px 10px 10px 10px;
}

/*
.navbar-nav > .active a {
	color: #fff !important;
	background-color: #1f2b33 !important;
}
*/

.navbar-settings li a {
	border: 0;
	color: #ffffff !important;
	display: block;
	text-transform: uppercase;
	padding: 15px 25px 15px 25px;
}

.navbar-settings li a:hover {
	border-bottom: 1px dotted #fff !important;
}

.navbar-settings a {
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
	border-bottom: 1px dotted #fff;
}

/* The Overlay */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 0;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 1000; /* Sit on top */
	left: 0;
	top: 50px;
	overflow-y: scroll;
	background-color: #77a1cd; /*rgb(0,0,0);*/ /* Black fallback color */
	background-color: rgba(139,181,226, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 50px; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 0px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 26px;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
	font-weight: bold;
	border-bottom: 0px !important;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {font-size: 16px}
	.overlay .closebtn {
		font-size: 16px;
		top: 10px;
		right: 25px;
	}
}
